<!-- homepage -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            mHealth VoiceLens
        </title>
    </head>
    
    <body>
        <h1>mHealth UB: VoiceLens</h1>
        <i>
            Voice contains much more information than you might think.
        </i><br><br>
        <b>About us:</b><br>
        <p1>
            This module concentrates on collecting the voices of clients and
            diagnosing their physical condition respectively, whether they
            have any specific disease.
        </p1>
        <br><br>
        {% if user.is_authenticated %}
        <div>
        <p2>Hello, {{user.username}}</p2><br>
        <a href="/v0/upload/">Upload</a><br>
        <a href="/v0/profile/">Personal Profile</a><br>
        <a href="/v0/logout/">Logout</a>
        </div>
        {% else %}
        <div>
        <a href="/v0/login/">Login</a>
        <p3>or</p3>
        <a href="/v0/register/">Register</a>
        </div>
        {% endif %}
    </body>
        
    
</html>