<!DOCTYPE html>
<!-- age, gender, race, first language, disease 
    category (none/ diseases A/disease B/ ...), disease onset time, smoke or not-->
<html lang="en">
    <head>
        <!-- css file reference -->
        <!-- {% load static %}
        <link rel="stylesheet" href="{% static 'css/register.css' %}"> -->
        <title>VoiceLens register</title>
    </head>
    
    <body>
    <h1>Register your account</h1>
    <form action="/v0/register/" method="post">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" name="username" >
        <br><br><br>
        <label for="password">Password:</label><br>
        <input type="password" name="psw">
        <br><br><br>
 
        <!-- Email -->
        <label for="email">Email:</label><br>
        <input type="email" name="email" >
        <br><br><br>
        <!-- First Name -->
        <label for="firstName">First Name: </label><br>
        <input type="text" name="first_name">
        <br><br><br>

        <!-- Last Name -->
        <label for="lastName">Last Name: </label><br>
        <input type="text" name="last_name">
        <br><br><br>

        <!-- Gender -->
        <label for="gender"> Gender:</label><br>
        <select name="gender" id="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="nonBinary">Non-binary</option>
            <option value="other">Other</option>
            <option value="notAnswer">Prefer not to state</option>
        </select>
        <br><br><br>

        <!-- Ethnicity/Race -->
        <label for="race"> Ethnicity/Race:</label><br>
        <select name="race" id="race">
            <option value="white">White</option>
            <option value="spanish">Hispanic/Latino</option>
            <option value="black">Black/African</option>
            <option value="asian">Asian</option>
            <option value="nativeAmerican">Native American</option>
            <option value="pacific">Pacific Islander</option>
            <option value="other">Other race</option>
            <option value="notAnswer">Prefer not to state</option>
        </select>
        <br><br><br>

        <!-- Day of Birth -->
        <label for="dob">Day of Birth:</label><br>
        <input type="date" id="dob" name="dob">
        <br><br><br>

        <!-- First Language -->
        <label for="first_language">First Language: </label><br>
        <select name="first_language" id="first_language">
            <option value="none"></option>
            <option value="english">English</option>
            <option value="spanish">Spanish</option>
            <option value="other">Other language</option>
        </select>
        <br><br><br>

        <!-- smoke or not -->
        <div class="smoke">
            <label for="yes_no_smoke">Do you smoke?</label><br>
            <select name="smoke" id="smoke">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <br><br>

        <input type="submit" value="Submit">

    </form>

    </body>

</html>