<!-- homepage -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            mHealth VoiceLens
        </title>
    </head>
    <body>
        <h1>mHealth UB：VoiceLens</h1>
        <i>
            Voice contains much more information than you might think.
        </i><br><br>
        <b>About us:</b><br>
        <p1>
            This module concentrates on collecting the voices of clients and
            diagnosing their physical condition respectively, whether they
            have any specific disease.
        </p1>
        <br><br>
        <form action="/v0/login/" method="post" >
            {% csrf_token %}
            <input type="submit" value="Login/Sign up">
        </form>
    </body>
        
    
</html>